.btn
    display: inline-block
    border: 0
    background: transparent
    &-login
        position: relative
        background: #FFC20E
        width: 100%
        padding: 12px 0
        border-radius: 4px
        span
            position: relative
            font-weight: 600
            font-size: 16px
            color: #454F5B
            transition: 0.2s 0.1s
            z-index: 100
        em
            position: relative
            color: #454F5B
            transition: 0.2s 0.1s
            z-index: 100
        &::before
            position: absolute
            top: 0
            bottom: 0
            left: 0
            height: 100%
            width: 0
            border-radius: 4px
            background: linear-gradient(0deg, #BE1128 0%, #EB2629 152.65%)
            transition: 0.3s ease-out
            content: ''
        @media screen and ( min-width: 1025px )
            &:hover
                span,
                em
                    color: #fff
                &::before
                    width: 100%
    &-default
        display: flex
        align-items: center
        justify-content: center
        position: relative
        background: #FFD643
        border-radius: 50px
        width: max-content
        padding: 16px 24px
        gap: 10px
        span
            position: relative
            font-weight: 700
            font-size: 20px
            color: #464646
            transition: 0.2s 0.1s
            z-index: 100
        em
            position: relative
            color: #454F5B
            transition: 0.2s 0.1s
            z-index: 100

        @media screen and ( min-width: 1025px )
            &:hover
                background: linear-gradient(180deg, #F9DD0B 0%, rgba(252, 168, 24, 0.97) 100%)
