#warring.messenger-alert
    .panel
        .panel-heading 
            .close.mb-4
                button.ms-auto(data-fancybox-close)
                    img(src="./images/close.svg", alt="")
                    |Đóng
        .panel-body
            img.icon.mb-4(src="./images/warning.svg", alt="")
            .messenger 
                p Không tìm thấy số điện thoại của quý khách
            button.btn.btn.btn-default.m-auto 
                span THỬ LẠI