header 
	nav.navbar
		.container
			#navbar.navbar-collapse.d-flex.align-items-center
				a.navbar-brand(href='/') 
					img(src="./images/logo.png", alt="")
				.nav-button
					p Hotline
					p 1900-6060

//- /.nav-collapse