section.hero-section 
    .container 
        .panel
            .panel-heading.text-center 
                h1.section-title.mb-4 Đăng ký ngay
                p.small-title.mb-4 Vui lòng nhập thông tin của Quý khách để tiếp tục đăng ký 
            .panel-body
                form.wrap-form(action="") 
                    .row 
                        .form-group.col-xl-6.mb-3
                            label(for='name') Họ và tên Quý khách
                            input.form-control(type='name', name='name' placeholder='xxx-xxxx-xxx')
                        .form-group.col-xl-6.mb-3
                            label(for='name') Số điện thoại
                            input.form-control(type='name', name='name' placeholder='xxxxxxxxxx')
                        .form-group.col-xl-6.mb-3
                            label(for='name') Số CMND hoặc thẻ CCCD
                            input.form-control(type='name', name='name' placeholder='xxx-xxxx-xxx')
                        .form-group.col-xl-6.mb-3
                            label(for='name') Email
                            input.form-control(type='name', name='name' placeholder='xxxxxxxxxx')
                        button.btn.btn-send.mt-4
                            img(src="./images/send.png", alt="")
                            span.ms-2 GỬI
    