footer
    .panel
        .panel-heading 
            img(src="./images/dãy-thẻ-card-HDBank.png", alt="")
        .panel-body 
            p © 2021 - Bản quyền thuộc về HDBank
    img(src="./images/footer.png", alt="")