footer
    .panel
        .panel-heading.text-center
            img(src="./images/dãy-thẻ-card-HDBank.png", alt="")
        .panel-body.text-center.mb-3   
            p © 2022 - Bản quyền thuộc về 
                a(href="")  HDBank
    .footer_bot
        .ft_right