section.hero-section 
    .container 
        .panel
            .panel-heading.text-center.mb-4 
                .mess-icon.m-auto 
                    img(src="./images/check.svg", alt="")
            .panel-body
                h1.section-title.mb-4 Đăng ký thành công
                p.small-title.text-center.mb-5 Thông tin đăng ký của Quý khách đã được gửi thành công, chúng tôi sẽ liên hệ sớm nhất
                a.btn.btn-default.m-auto(href="") 
                    img(src="./images/close.svg", alt="")
                    span.ms-2 ĐÓNG