section.hero-banner 
    .banner-inner
        .banner-inner_desktop
            a(href="") 
                img(src="./images/b-1.jpg", alt="")
        .banner-inner_mobile
            a(href="") 
                img(src="./images/b-1MB.jpg", alt="")
