section.hero-banner 
    .swiper.mySwiper
        .swiper-wrapper
            -for(i=1; i<3; i++)
                .swiper-slide
                    .slide-inner
                        .slide-inner__img
                            a(href="") 
                                img(src="./images/b-"+i+".jpg", alt="")
